html{
  height: 100vh;

}
.item-0 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/background.jpg");
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.item-1 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1203.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.item-2 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1201.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.item-3 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1202.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.item-4 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1187.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.item-5 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1190.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.item-6 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1194.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.item-7 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1192.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.item-8 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1197.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.item-9 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1195.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.item-10 {
  height: 100vh;
  background-image: url("../media/blog/01.06.2024/IMG_1193.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.text-body{
  height: 80vh;
  width: 75vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.679) 60%, rgba(255, 255, 255, 0.334) 90%)  ;
  position: absolute;
  border: solid 2px white;
  box-shadow: -10px 20px 30px rgba(0,0,0,.6);
  top: 10vh;
  right: 10vw;
}
.text-holder{
  margin: 20px 40px;
  width: 100%;
  h1{
    padding-top: 50px;
    color: white;
    font-size: 60px;
    font-weight: 900;
  }
  p{
    font-size: 16px;
    font-weight: 600;
    color: white;
    width: 95%;
    line-height: 25px;
  }
}
.directional_nav .previous_btn{
  position: absolute;
  left: 5vw;
  top: 45vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor : pointer
}
.directional_nav .next_btn{
  position: absolute;
  right: 5vw;
  top: 45vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor : pointer

}

.fullscreen-bg > div {
  display: show;
}

.texts > p {
  display: show;
}
.hide {
  display: none;
}
.show {
  display: block;
}

/* inner slider  */
.item-1 , .item-2 ,.item-3 ,.item-4 ,.item-5 ,.item-6 ,.item-7 ,.item-8,.item-9,.item-10{
  position: relative;
}
.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 40px;
  position: absolute;
  bottom: 9px;
  left:40px;
}

.dot {
  width: 16px;
  height: 16px;
  background: #45454578;
  border-radius: 50%;
  transition: all 0.4s linear;
}
/* .dot-active {
  background: #ececec;
  transform: scale(1.2);
  box-shadow: 0 0 1px 2px #afeeee;
  transition: all 0.2s linear;
  display: block;
} */
.dot:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 2px #afeeee;
  transition: all 0.2s linear;
}

.item-0{
  position: relative;

  .about{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: space-between;
    position:absolute;
    margin: 20px;
  }
  .about img{
    width: 100%;
  }


}